<div class='medium-6 columns'>
    <div class='sub-graph'>
        <label><strong>Median income</strong></label>
        <span id='sub1'></span>
    </div>

    <div class='sub-graph'>
        <label><strong>Poverty level</strong></label>
        <span id='sub2'></span>
    </div>

    <div class='sub-graph'>
        <label><strong>Foreclosure</strong></label>
        <span id='sub3'></span>
    </div>

    <div class='sub-graph'>
        <label><strong>Mortgages</strong></label>
        <span id='sub4'></span>
    </div>
</div>
